body {
  font-family: Arial, Helvetica, sans-serif;
  background: whitesmoke;
}

h1 {
  color: black;
  font-size: 35px;
  font-weight: 800;
  line-height: 28px;
  margin-bottom: 0;
  padding-top: 3%;
}

ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  margin: 0;
  padding: 0;
  color: rgb(33, 33, 33);
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
}
li:first-letter {
  text-transform: capitalize;
}

.cont-wrapper {
  max-width: 600px;
  margin: 30px auto;
}

.cont_weather {
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 5px;
  background: radial-gradient(
    997px at 99.9% 96.8%,
    rgb(132, 255, 199) 0%,
    rgb(137, 248, 255) 90%
  );
}
.overview {
  margin-bottom: 20px;
}

.update {
  padding-top: 2%;
}

.desc {
  padding-top: 1%;
}

#currentButton {
  position: relative;
  top: 3px;
  right: 10px;
  width: 30px;
  height: 30px;
}
.weather-temperature img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
}
.weather-temperature strong {
  color: rgb(33, 33, 33);
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
}

.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -34;
}
.float-left {
  float: left;
}

.float-left .units {
  position: relative;
  font-size: 15px;
  bottom: 33px;
  right: 2px;
}

.weather-temperature .active {
  color: rgb(33, 33, 33);
  cursor: default;
}

.units a {
  text-decoration: none;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: black;
  padding-bottom: 1%;
}
.weather-forecast-date {
  font-size: 16px;
  font-weight: 800;
}
.weather-forecast-temps {
  font-size: 13px;
  font-weight: 800;
}

.weather-forecast-min-temp {
  opacity: 0.5;
}
